<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BpTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CarshDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CrashReport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ShineZoneCarshReport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ShineZoneCrashReport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cocos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cocosDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4736ADC01CF42C6C0031DBB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4736ADDF1CF42C6C0031DBB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4736ADEA1CF42C6C0031DBB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95D174F1CF7E6FE00DAF15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95D17961CFD8DB600DAF15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B5294F1D0D8CF100966846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D3CEA51CF7001C0089C83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D3CEB91CF700C10089C83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D3CEC71CF701650089C83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D3CEDA1CF7044A0089C83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
